@import "tailwindcss";

body {
  font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, Arial, sans-serif;
}

@media print {
  header,
  aside,
  .no-print {
    display: none !important;
  }
  main {
    padding: 0 !important;
  }
}
